<table border="1" class="request-table">
      <tbody>
        <tr>
          <th class="detail-item"><%= "リーダー印" %></th>
          <th class="detail-item"><%= "部長印" %></th>
          <th class="detail-item"><%= "総務印" %></th>
        </tr>
        <tr>
          <td class="detail-value"><%= "✅" %></td>
          <td class="detail-value"><%= "✅" %></td>
          <td class="detail-value"><%= "✅" %></td>
        </tr>
      </tbody>
</table>