<%= render partial: "header", locals: { user: @user } %>

<% if RemainingHoliday.exists?(user_id: current_user.id) %> 
     <div class="total_holiday">
          <h2>今年度合計<%= @r.total_days %>日と<%= @r.total_time %>時間</h2>
          <h2>残りの有給休暇取得可能時間<%= @r.changeable_days %>日と<%= @r.changeable_time %>時間</h2>
     </div>
<% else %> 
     <h2>まだ今年度の有給が付与されていません。総務に連絡をください。</h2>
<% end %>
<% @holiday.each do |f| %> 
     <table class="request-table">
          <tr>
               <th class="detail-item"><%= "申請日" %></th>
               <th class="detail-item"><%= "取得日" %></th>
               <th class="detail-item"><%= "取得日数" %></th>
               <th class="detail-item"><%= "時〜時" %></th>
               <th class="detail-item"><%= "取得時間" %></th>
               <th class="detail-item"><%= "事由" %></th>
               <th class="detail-item"><%= "残日数" %></th> 
               <th class="detail-item"><%= "残時間" %></th> 
          </tr>
          <div class="formats">
               <tr>
                    <td class="detail-value"><%= f.created_at.strftime('%Y/%m/%d') %></td>
                    <td class="detail-value"><%= "" %><%= f.application_date.strftime('%Y/%m/%d') %>
                    <td class="detail-value"><%= f.acquisition_days %></td>
                    <% if f.holiday_time_start.nil? %> 
                         <td class="detail-value"><span>ーー</span></td>
                    <% else %>
                         <td class="detail-value"><%= "start " %><%= f.holiday_time_start.strftime('%H') %>
                                             <%= "〜end " %><%= f.holiday_time_end.strftime( "%H" ) %></td>
                    <% end %> 
                    <% if f.acquisition_time.nil? %> 
                         <td class="detail-value"><span>ーー</span></td>
                    <% else %>
                         <td class="detail-value"><%= "start " %><%= f.acquisition_time %>時間</td>
                    <% end %>
                    <td class="detail-value"><%= f.reason %></td>
                    <td class="detail-value"><%= f.day_record  %>日</td>
                    <td class="detail-value"><%= f.time_record %>時間</td>
               </tr>
          </div>
     </table>   
     <%= link_to "詳細", holiday_path(f.id) %>
<% end %>