<%= render partial: "header", locals: { user: @user } %>

<% if RemainingHoliday.exists?(user_id: current_user.id) %> 
     <div class="total_holiday">
          <h2>今年度合計<%= @r.total_days %>日と<%= @r.total_time %>時間</h2>
          <h2>残りの有給休暇取得可能時間<%= @r.changeable_days %>日と<%= @r.changeable_time %>時間</h2>
     </div>
<% else %> 
     <h2>まだ今年度の有給が付与されていません。総務に連絡をください。</h2>
<% end %>
     <div class="r-holiday">
               <h3>有給休暇</h3> 
     </div>
<% @holiday.each do |f| %> 
     <%= link_to holiday_path(f.id), method: :get do %>
          <table class="request-table">
               <tr>
                    <th class="detail-item"><%= "申請日" %></th>
                    <th class="detail-item"><%= "取得日" %></th>
                    <th class="detail-item"><%= "取得日数" %></th>
                    <th class="detail-item"><%= "時〜時" %></th>
                    <th class="detail-item"><%= "取得時間" %></th>
                    <th class="detail-item"><%= "事由" %></th>
                    <th class="detail-item"><%= "残日数" %></th> 
                    <th class="detail-item"><%= "残時間" %></th> 
               </tr>
               <div class="formats">
                    <tr>
                         <td class="detail-value"><%= f.created_at.strftime('%Y/%m/%d') %></td>
                         <td class="detail-value"><%= "" %><%= f.application_date.strftime('%Y/%m/%d') %>
                         <td class="detail-value"><%= f.acquisition_days %></td>
                         <% if f.holiday_time_start.nil? %> 
                              <td class="detail-value"><span>ーー</span></td>
                         <% else %>
                              <td class="detail-value"><%= "start " %><%= f.holiday_time_start.strftime('%H') %>
                                                  <%= "〜end " %><%= f.holiday_time_end.strftime( "%H" ) %></td>
                         <% end %> 
                         <% if f.acquisition_time.nil? %> 
                              <td class="detail-value"><span>ーー</span></td>
                         <% else %>
                              <td class="detail-value"><%= "start " %><%= f.acquisition_time %>時間</td>
                         <% end %>
                         <td class="detail-value"><%= f.reason %></td>
                         <td class="detail-value"><%= f.day_record  %>日</td>
                         <td class="detail-value"><%= f.time_record %>時間</td>
                    </tr>
               </div>
          </table>   
     <% end %>
<% end %>


     <div class="r-holiday">
               <h3>週休休暇の変更</h3> 
     </div>

<ul class='item-contents'>
     <div class='item-info'>   
          <% if @week_holidays.exists? %> 
               <% @week_holidays.each do |f| %>
                    <% if WeekHolidayChange.where(id: f.id, user_id: @user.id).exists?%>
                         <%= link_to week_holiday_change_path(f.id), method: :get do %>
                              <table class="request-table">
                                   <tr>
                                        <th class="detail-item"><%= "名前" %></th>
                                        <th class="detail-item"><%= "申請日" %></th>
                                        <th class="detail-item"><%= "週休日" %></th>
                                        <th class="detail-item"><%= "変更日" %></th>
                                        <th class="detail-item"><%= "リーダー" %></th>
                                        <th class="detail-item"><%= "部長" %></th>
                                        <th class="detail-item"><%= "総務" %></th>
                                   </tr>
                                   <div class="formats">
                                        <tr>    
                                             <td class="detail-value"><%= f.user.user_name %></td>
                                             <td class="detail-value"><%= f.created_at.strftime('%Y/%m/%d') %></td>
                                             <td class="detail-value"><%= "" %><%= f.original_leave.strftime('%Y/%m/%d') %>
                                             <td class="detail-value"><%= f.original_leave.strftime('%Y/%m/%d') %></td>
                                        

                                             <% if WeekHCheck.exists?(week_holiday_change_id: f.id) %>
                                                  <% if WeekHCheck.exists?(week_holiday_change_id: f.id, position: "リーダー") %>
                                                       <% check = WeekHCheck.find_by(week_holiday_change_id: f.id, position: "リーダー") %>
                                                       <% if check.yes_no == "yes" %>
                                                                 <td class="detail-value"><span>✅</span><%= check.user.user_name %></td>
                                                       <% elsif check.yes_no == "no" %>
                                                                 <td class="detail-value"><span>❌</span><%= check.user.user_name %></td>
                                                       <% end %>
                                                  <% else %>
                                                       <td class="detail-value"><span>--</span></td>
                                                  <% end %>

                                                  <% if WeekHCheck.exists?(week_holiday_change_id: f.id, position: "部長") %>
                                                       <% check = WeekHCheck.find_by(week_holiday_change_id: f.id, position: "部長") %>
                                                       <% if check.yes_no == "yes" %>
                                                       <td class="detail-value"><span>✅</span><%= check.user.user_name %></td>
                                                       <% elsif check.yes_no == "no" %>
                                                       <td class="detail-value"><span>❌</span><%= check.user.user_name %></td>
                                                       <% end %>
                                                  <% else %>
                                                       <td class="detail-value"><span>--</span></td>
                                                  <% end %>         

                                                  <% if WeekHCheck.exists?(week_holiday_change_id: f.id, position: "システム管理者") %>
                                                       <% check = WeekHCheck.find_by(week_holiday_change_id: f.id, position: "システム管理者") %>
                                                       <% if check.yes_no == "yes" %>
                                                       <td class="detail-value"><span>✅</span><%= check.user.user_name %></td>
                                                       <% elsif check.yes_no == "no" %>
                                                       <td class="detail-value"><span>❌</span><%= check.user.user_name %></td>
                                                       <% end %>
                                                  <% else %>
                                                       <td class="detail-value"><span>--</span></td>
                                                  <% end %> 
                                             <% else %>
                                                  <td class="detail-value"><span>--</span></td>
                                                  <td class="detail-value"><span>--</span></td>
                                                  <td class="detail-value"><span>--</span></td>
                                             <% end %>  
                                        </tr>
                                   </div>
                              </table>
                         <% end %>
                    <% end %>
               <% end %>
          <% else %>
               <div class='menber_name'>
                    <h4>週休の変更申請はまだありません</h4>
               </div>
          <% end %>     
     </div>
</ul>