<%= render partial: "header", locals: { user: @user } %>


<div class='item-info'>   
     <% if @changes.exists? %> 
          <% @changes.each do |f| %>
               <%= link_to week_holiday_change_path(f.id), method: :get do %>
                    <table class="request-table">
                         <tr>
                              <th class="detail-item"><%= "名前" %></th>
                              <th class="detail-item"><%= "申請日" %></th>
                              <th class="detail-item"><%= "週休日" %></th>
                              <th class="detail-item"><%= "変更日" %></th>
                              <th class="detail-item"><%= "リーダー" %></th>
                              <th class="detail-item"><%= "部長" %></th>
                              <th class="detail-item"><%= "総務" %></th>
                         </tr>
                         <div class="formats">
                              <tr>    
                                   <td class="detail-value"><%= f.user.user_name %></td>
                                   <td class="detail-value"><%= f.created_at.strftime('%Y/%m/%d') %></td>
                                   <td class="detail-value"><%= "" %><%= f.original_leave.strftime('%Y/%m/%d') %>
                                   <td class="detail-value"><%= f.changed_leave.strftime('%Y/%m/%d') %></td>
                              

                                   <% if WeekHCheck.exists?(week_holiday_change_id: f.id) %>
                                        <% if WeekHCheck.exists?(week_holiday_change_id: f.id, position: "リーダー") %>
                                             <% check = WeekHCheck.find_by(week_holiday_change_id: f.id, position: "リーダー") %>
                                             <% if check.yes_no == "yes" %>
                                                       <td class="detail-value"><span>✅</span><%= check.user.user_name %></td>
                                             <% elsif check.yes_no == "no" %>
                                                       <td class="detail-value"><span>❌</span><%= check.user.user_name %></td>
                                             <% end %>
                                        <% else %>
                                             <td class="detail-value"><span>--</span></td>
                                        <% end %>

                                        <% if WeekHCheck.exists?(week_holiday_change_id: f.id, position: "部長") %>
                                             <% check = WeekHCheck.find_by(week_holiday_change_id: f.id, position: "部長") %>
                                             <% if check.yes_no == "yes" %>
                                             <td class="detail-value"><span>✅</span><%= check.user.user_name %></td>
                                             <% elsif check.yes_no == "no" %>
                                             <td class="detail-value"><span>❌</span><%= check.user.user_name %></td>
                                             <% end %>
                                        <% else %>
                                             <td class="detail-value"><span>--</span></td>
                                        <% end %>         

                                        <% if WeekHCheck.exists?(week_holiday_change_id: f.id, position: "システム管理者") %>
                                             <% check = WeekHCheck.find_by(week_holiday_change_id: f.id, position: "システム管理者") %>
                                             <% if check.yes_no == "yes" %>
                                             <td class="detail-value"><span>✅</span><%= check.user.user_name %></td>
                                             <% elsif check.yes_no == "no" %>
                                             <td class="detail-value"><span>❌</span><%= check.user.user_name %></td>
                                             <% end %>
                                        <% else %>
                                             <td class="detail-value"><span>--</span></td>
                                        <% end %> 
                                   <% else %>
                                        <td class="detail-value"><span>--</span></td>
                                        <td class="detail-value"><span>--</span></td>
                                        <td class="detail-value"><span>--</span></td>
                                   <% end %>  
                              </tr>
                         </div>
                    </table>
               <% end %>
          <% end %>
     <% else %>
          <div class='menber_name'>
               <span>有給休暇の申請はまだありません</span>
          </div>
     <% end %>       
</div>
