<header class='top-page-header'>
     <%# <div class = 'top-left-header'> %>
          <h1><%= link_to "●大宮工機 有給休暇", root_path %></h1>

          <div class="header-user-name">
               <% if user_signed_in? %>
                    <h1><%=current_user.user_name%>さん</h1>
               <% end %>
          </div>
     <%# <div> %>

     <div class="headers-login-btn">
          <% if user_signed_in? %>
               <h3><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></h3>
          <% else %>
               <h3><%= link_to 'ログイン', new_user_session_path, class: "login" %></h3>
               <h3><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></h3>
          <% end %>
     </div>
</header>