<header class='top-page-header'>
  <div class='site-icon'>
          <h2>●大宮工機の有給休暇管理アプリ</h2>
  </div>

     <div class="holiday-header">
          <div class="left-header">
               <% if user_signed_in? %>
                    <h1><%=current_user.user_name%>さん</h1>
               <% end %>
          </div>
     </div>

     <div class='header-rigth'>
          <% if user_signed_in? %>
               <%# <li><%= link_to current_user.name,herf="#", class: "user-name" %>
               <ul><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></ul>
          <% else %>
               <ul><%= link_to 'ログイン', new_user_session_path, class: "login" %></ul>
               <ul><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></ul>
          <% end %>
     </div>
</header>