
<div class="second-header">
  <div class="left-header">
    <div class="header-title">
        <h2>グループメンバーを追加するページ</h2>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "グループ一覧", group_index_path %>
      <% if current_page?(controller: 'holidays', action: 'index') %>
            <%= link_to "週休変更申請", new_week_holiday_change_path(user_id: current_user.id) %>
            <%= link_to "週休変更一覧", week_holiday_changes_path(user_id: current_user.id) %>
      <% else %>
      <% end %>
      <%= link_to "有給休暇の申請", new_holiday_path %>
      <%= link_to "従業員一覧", users_path %>
    </div>
  </div>
</div>


<ul class='item-lists'>
  <div class='item-info'>
    <h2 class='group-name'>グループメンバー</h2>        
    <% if @group.users.exists? %> 
        <% @group.users.each do |users| %>
          <ul class='flex-employee-list'>
            <div class="users-user-name">
              <li> <%= users.user_name %>さん</li>
            </div>
            
            <div class="users-contents"><li><%= users.position %></li></div>
          </ul>
        <% end %>
        <div class='member_name'>
        </div>
    <% else %>
        <div class='menber_name'>
          <span>グループメンバーがいません!</span>
        </div>
    <% end %> 
  </div>


  <h2 class='group-name'>グループ以外の社員一覧</h2> 
  <% @user.each do |user| %>

    <% unless GroupUser.exists?(group_id: @group.id, user_id: user.id) %>
      <ul class='flex-employee-list'>
        <div class="users-user-name">
          <li> <%= user.user_name %>さん</li>
        </div>
        <div class="users-contents">
          <%= link_to "追加", group_add_member_path(group_id: @group.id, user_id:user.id),method: :post %>
        </div>
      </ul>
    <% end %>

  <% end %>
</ul>

