
<%= render partial: 'group/header' %>



<ul class='item-lists'>
  <div class='item-info'>
    <h2 class='group-name'>グループメンバー</h2>        
    <% if @group.users.exists? %> 
        <% @group.users.each do |users| %>
          <ul class='flex-employee-list'>
            <div class="users-user-name">
              <li> <%= users.user_name %>さん</li>
            </div>
            
            <div class="users-contents"><li><%= users.position %></li></div>
          </ul>
        <% end %>
        <div class='member_name'>
        </div>
    <% else %>
        <div class='menber_name'>
          <span>グループメンバーがいません!</span>
        </div>
    <% end %> 
  </div>


  <h2 class='group-name'>社員一覧</h2> 
  <% @user.each do |user| %>

    <% unless GroupUser.exists?(group_id: @group.id, user_id: user.id) %>
      <ul class='flex-employee-list'>
        <div class="users-user-name">
          <li> <%= user.user_name %>さん</li>
        </div>
        <div class="users-contents">
          <%= link_to "追加", group_group_user_index_path(group_id: @group.id, user_id:user.id),method: :post %>
        </div>
      </ul>
    <% end %>

  <% end %>
</ul>

