<%= render partial: "header", locals: { user: @user } %>
  
<div class="r-holiday">
     <h2> <%= @user.user_name %>さん</h2>
</div>
<div class="edit-form">
     <h1>編集ページ</h1>
     <%= form_with model: @remaining_holiday, url: remaining_holiday_path, method: :patch, local: true do |f| %>
          <%# <%= render :partial => 'form', :locals => {:f => f, :edit_flag => true} %> 

          <div class=container4>
               <table class="request-table">
                    <tr>
                         <th class="detail-item"><%= "入社年月日" %></th>
                         <th class="detail-item"><%= "有効期間" %></th>
                         <th class="detail-item"><%= "昨年度繰越分(必)" %></th>
                         <th class="detail-item"><%= "今年度付与分・日数(必)" %></th>
                         <th class="detail-item"><%= "合計・日数(必)" %></th>
                         <th class="detail-item"><%= "勤務時間の属性(必)" %></th>
                         <th class="detail-item"><%= "備考" %></th>
                    </tr>
                    <tr>
                         <td class="detail-value">     <%= f.date_field :joining_date %>
                         <td class="detail-value">     <%= f.date_field :effective_period_start %>
                                                       <%= f.date_field :effective_period_end %></td>
                         <td class="detail-value">     <%= "日数" %><%= f.number_field :last_year_days, step: '0.1' %>
                                                  <br> <%= "時間" %><%= f.number_field :last_year_time %></td>
                         <td class="detail-value">     <%= f.number_field :this_year_days, step: '0.1' %>
                         <td class="detail-value">     <%= "日数" %><%= f.number_field :total_days, step: '0.1' %>
                                             <br>      <%= "時間" %><%= f.number_field :total_time %></td>            
                         <td class="detail-value">     <%= f.select :working_hours, ['7時間制', '8時間制',], {include_blank: '---'} %>
                         <td class="detail-value">     <%= f.text_area :reason %>
                    </tr>
               </table>
               <%= f.submit "送信" ,class:"send-btn"%>
          </div>
     <% end %>
</div>