<%# <%= render  "header"%>

   
     <%# <h1>・<%=@user.user_name%>さんへの有給休暇の付与</h1> %>

<%# <%= form_with model: @remaining_holiday, url: user_remaining_holiday_index_path, html: { method: :post }, local: true do |f| %> %>
     <%# <%= render 'shared/error_messages', model: f.object %>   %>
     <%# <%= render :partial => 'form', :locals => {:f => f}%> %>
<%# <% end %> %> %>
