<div class="second-header">
     <div class="left-header">
          <div class="header-title">
               <% if current_page?(controller: 'group', action: 'index') %>
                    <h1>グループ一覧</h1>
               <% elsif current_page?(controller: 'group', action: 'new') %>
                    <h1>グループ作成ページ</h1>
               <% elsif current_page?(controller: 'group', action: 'show') %>
                    <h1>グループの有給休暇申請一覧</h1>
               <% elsif current_page?(controller: 'group', action: 'edit') %>
                    <h1>グループ情報の編集</h1>
               <% elsif current_page?(controller: 'group_user', action: 'show') %>
                    <h1>グループメンバーの追加</h1>
               <% end %>
          </div>
     </div>
     <div class="right-header">
          <div class="header-button">
               <% unless current_page?(controller: 'group', action: 'index') %>
                    <%= link_to "グループ一覧", group_index_path %>
               <% end %>
               
               <% unless current_user.position == "一般社員"  %>
                    <%= link_to "従業員一覧", users_path %>
                    <%= link_to "有給申請一覧", users_holiday_path %>
                    <%= link_to "週休休暇一覧", users_week_holiday_change_path %>
               <% end %>
               <% if current_user.position == "システム管理者"  %>
                    
                    <% unless current_page?(controller: 'group', action: 'new') %>
                         <%= link_to "新規グループ作成", new_group_path %>
                    <% end %>
               <% end %>
          </div>
     </div>
</div>