<%= render partial: 'group/header' %>
<div class="item-show">
    <div class="edit-group">
     <h1><%= @group.group_name%></h1>
    </div>
  
  <div class="item-box">

    <div class="edit-form">
      <h3>グループの名前の変更</h3>
      <%= form_with model: @group, local: true do |f| %> 
        <%= render :partial => 'form', :locals => {:f => f, :edit_flag => true} %>
      <% end %>
    </div>

    <div class='add-group'>
      <%= button_to "グループメンバーの追加", group_add_page_path(group_id: @group.id) %>
    </div>
    <div class="delete-btn">
      <%= button_to 'グループを消去する', group_path(@group.id), data: { confirm: '削除しますか？' }, method: :delete %>
    </div>

  </div>
</div>