<%= render partial: "header", locals: { user: @user } %>

<div class='main'>
  <ul class='item-lists'>
    <% @groups.each do |group| %>
      <h2 class='item-name'><%=  group.group_name%>
      </h2>
      <h2 class='item-name'>
        <% if @user.position.in?(['ãƒªãƒ¼ãƒ€ãƒ¼', 'ä¸»ä»»', 'éƒ¨é•·', 'å½¹å“¡', 'ã‚·ã‚¹ãƒ†ãƒ ç®¡ç†è€…']) %> <!-- ãƒ­ã‚°ã‚¤ãƒ³ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®ãƒã‚¸ã‚·ãƒ§ãƒ³ãŒä¸‰ã¤ã®ä¸­ã«å«ã¾ã‚Œã¦ã„ã‚‹ã‹ã©ã†ã‹ -->
          <% if group.users.exists? %>                         <!-- ã‚°ãƒ«ãƒ¼ãƒ—ã«ãƒ¦ãƒ¼ã‚¶ãƒ¼ãŒå­˜åœ¨ã™ã‚‹ã‹ã©ã†ã‹ -->
            <% if Holiday.where(user_id: group.users.ids).exists? %><!-- ã‚°ãƒ«ãƒ¼ãƒ—ã®ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®ç”³è«‹ã—ãŸæœ‰çµ¦ãŒã‚ã‚‹ã‹ã©ã†ã‹ -->
              <% @group_holidays = Holiday.where(user_id: group.users.ids) %>
                <% i = 0 %>
                <% @group_holidays.each do |request_holiday| %><!-- ã‚°ãƒ«ãƒ¼ãƒ—ã®æœ‰çµ¦ç”³è«‹ã‚’ä¸€ã¤ãšã¤ç²¾æŸ»ã—ã¦ã„ã -->
                  <% unless Request.where(holiday_id: request_holiday.id, yes_no: "no").exists? %>  <!-- æ—¢ã«å¦èªã•ã‚Œã¦ã„ã‚‹ã‚‚ã®ã§ãªã‘ã‚Œã°OK -->
                    <% unless Request.where(holiday_id: request_holiday.id, user_id: @user.id).exists? || request_holiday.user == current_user%>
                      <!-- â†‘æ—¢ã«ãƒ­ã‚°ã‚¤ãƒ³ãƒ¦ãƒ¼ã‚¶ãƒ¼ãŒæ‰¿èªã—ã¦ã„ãªã„ã€‚ã‚‚ã—ãã¯ã€ç”³è«‹ã—ãŸã®ãŒãƒ­ã‚°ã‚¤ãƒ³ãƒ¦ãƒ¼ã‚¶ãƒ¼ã§ãªã‘ã‚Œã°OK -->
                      <% if current_user.position == "ã‚·ã‚¹ãƒ†ãƒ ç®¡ç†è€…" %><!-- ãƒ­ã‚°ã‚¤ãƒ³ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®positionãŒã‚·ã‚¹ãƒ†ãƒ ç®¡ç†è€…ã®å ´åˆ -->
                        <% i += 1 %>
                      <% else %>
                        <% if  current_user.groups.present? %><!-- ãƒ­ã‚°ã‚¤ãƒ³ãƒ¦ãƒ¼ã‚¶ãƒ¼ãŒç¾åœ¨ã‚°ãƒ«ãƒ¼ãƒ—ã«æ‰€å±žã—ã¦ã„ã‚‹å ´åˆ --> 
                          <% if current_user.group_ids.include?(group.id) %>
                            <% i += 1 %>
                          <% end %>
                        <% end  %>
                        
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <% if i > 0 %>
                  <%= "ðŸ””" %><%= i %><%= "ä»¶ æœªæ‰¿èªã®æœ‰çµ¦ç”³è«‹ãŒã‚ã‚Šã¾ã™" %>
                <% else %>
                  <%= "æ‰¿èªå¾…ã¡ã®ç”³è«‹ã¯ã‚ã‚Šã¾ã›ã‚“" %>
                <% end %>
            <% else %>
              <%= "ç”³è«‹ã¯ã¾ã ã‚ã‚Šã¾ã›ã‚“" %>
            <% end %>
          <% end %>
        <% end %>
      </h2>

      <div class='list'>
        <li class='link-list'><%= link_to "æœ‰çµ¦ç”³è«‹ä¸€è¦§", group_path(id: group.id) %></li>
        <li class='link-list'><%= link_to "é€±ä¼‘å¤‰æ›´ç”³è«‹ä¸€è¦§", group_path(id: group.id) %></li>
        <% if current_user.position == "ã‚·ã‚¹ãƒ†ãƒ ç®¡ç†è€…"  %>
          <li class='link-list'><%= link_to "ã‚°ãƒ«ãƒ¼ãƒ—æƒ…å ±ã®ç·¨é›†", edit_group_path(id: group.id) %></li>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>



